* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 65%;
}

body {
  display: grid;
  grid-template-rows: auto 2fr 1fr;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  padding: 1.2rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navlinks {
  display: flex;
}

.navlink {
  font-size: 1.4rem;
  margin-left: 1.6rem;
  color: rgba(0, 0, 0, 0.87);
}

.navlink:hover {
  text-decoration: underline;
}

.apps,
.me {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.apps {
  margin-left: 2rem;
  margin-right: 1rem;
}

.apps:hover,
.me:hover {
  cursor: pointer;
  background: rgba(60, 64, 67, 0.08);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 61rem;
  padding: 0 1.2rem;
  margin: 9.5rem auto 9.5rem auto;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.4rem;
  border: 1px solid #dfe1e5;
  border-radius: 2.4rem;
  margin: 3rem 0;
}

.search:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(233, 225, 229, 0);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.6rem;
  padding: 0 1.3rem;
}

.icon-search {
  width: 2rem;
  margin-left: 1.3rem;
}

.icon-mic {
  margin-right: 1.3rem;
  cursor: pointer;
}
